:root {
    --bggreen: rgba(82, 144, 52, 0.8);
    --bg: rgba(150, 150, 150, 0.1);
    --black: rgba(0, 0, 0, 0.8);
    --glish: rgba(60, 5, 63, 0.785);
    --white: rgb(250, 250, 250) !important;
    --mainbg: rgba(43, 93, 210, 0.701);
    --shade: rgba(0, 0, 0, 0.7);
}
body
{
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--bg) !important;
}
*
{
    font-size: 12pt;
    box-sizing: border-box;
}

/* common styling */
.content_title_dark
{
    color: var(--white);
    background-color: var(--black);
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    font-size: 16pt;
    padding: 5px 0;
}
.content_title_dark_footer
{
    color: white;
    background-color: var(--shade);
    font-size: 12pt !important;
    padding: 2px 0 !important;
}
.content_title
{
    color: var(--black);
    background-color: var(--shade);
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
}
.content_text
{
    padding: 2px;
}




/* TOP HEADER */
#top_header
{
    display: flex; 
    flex-direction: row;
    align-items: center !important;
    align-content: center;
    background: url("../data/images/header.png");
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}

.header_logo
{
    flex: 1;
    text-align: center;
    color: white;
}
.header_text
{
    flex: 2;
    text-align: center;
    color: white;
    padding: 10px;
}
.page_header
{
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: var(--bggreen);
    font-size: 35pt;
}
.header_meta
{
    flex: 1;
    text-align: center;
    color: white;
    padding: 10px;
}

/* NAVIGATION BAR */

/* Navbar toggler button */
#navtoggler
{
    display: none;
}
/*  */

.sticky_top
{
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: var(--mainbg);
    z-index: 5;
    margin-bottom: 100px;
}
.navbar_wrapper
{
    position: absolute;
    top: 0;
    background-color: var(--black);
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.993) solid;
}


/* MAIN CONTENT */
.maincontent_wrapper
{
    border-radius: 10px;
    margin: 0px 2%;
    margin-bottom: 100px;
}

/* ----- Item Specific styling ----- */

/* DESCRIPTION */
.content_description_wrapper
{
    margin-top: 20px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}
.content_description_image
{
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_description
{
    flex: 2;
    text-align: justify;
    padding: 20px;
}
#company_image
{
    width: 500px;
    height: auto;
}

/* HISTORY */
.content_history_wrapper
{
    margin: 40px 0;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
}
#history_title
{
    text-align: center !important;
}
.content_history
{
    display: flex;
    flex: row;
    justify-content: center;
    border-radius: 10px;
}
.content_history1, .content_history2, .content_history3
{
    flex: 1;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 5px var(--shade);
    text-align: justify;
    margin: 0 10px;
}



/* PRODUCTS */

.content_products_wrapper
{
    margin: 40px 0;
    background-color: var(--white) !important;
    border-radius: 5px;
    padding: 20px;
}
.product_container
{
    min-height: 500px;
    background-color: var(--glish) !important;
}
.product_img{
    margin-top: 20px;
    margin-left: calc(50% - 200px);
    width: 400px !important;
    height: 250px;
    box-shadow: 0 0 1px 1px var(--white);
}
.product_description
{
    color: white;
    text-align: center;
    padding: 50px !important;
    text-align: justify;
}


/* CLIENTS */
.content_clients_wrapper
{
    margin: 40px 0;
    padding: 20px;
    /* background-color: var(--bg) !important; */
    border-radius: 5px;   
}
.content_clients
{
    background-color: var(--bg);
}
.client_card
{
    float: left;
    margin: 10px;
    border: 2px solid var(--white);
    border-radius: 5px;
    width: 150px;
    height: 100px;
    color: white;
    text-align: center;
}
.client_card > img
{
    border-radius: 5px;
}

/* CONTACT US FORM */
.contactusform
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 30px 30px var(--white);
    border-radius: 10px;
}
.form_section
{
    flex: 1;
    padding: 0 30px;
}
.form_group
{
    margin-bottom: 30px;
}
#comment
{
    width: 100%;
    height: 50%;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 1px solid var(--mainbg);
}

#form_button_phone
{
    display: none;
}


/* FOOTER */
.footer
{
    background-color: var(--mainbg) !important;
}
.footer_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_section
{
    flex: 1;
    color:var(--white);
    margin: 20px;
    text-align: center;
}
.footer_link
{
    display: block;
    padding: 10px;
    color: white;
}
.social_link
{
    display: inline-block;
    margin: 0px 10px !important;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
}
#location_map
{
    padding: 0px 50px;
    width: 100%;
    height: 60%;
}
.copyright_content
{
    margin: 0px;
    position: relative;
    bottom: 0px;
    padding: 5px 0;
    font-size: 14pt;
    color: white !important;
    background-color: var(--black);
    text-align: center;
}



@media screen and (max-width: 1000px)
{

    /* TOP HEADER */
    #top_header
    {
        display: flex; 
        flex-direction: row;
        align-items: center !important;
        align-content: center;
        background: url("../data/images/header.png");
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
    }
    .header_logo
    {
        flex: 1;
        text-align: center;
        color: white;
    }
    .header_text
    {
        flex: 2;
        text-align: left;
        color: white;
        padding: 10px;
        display: none;
    }
    .header_meta
    {
        flex: 1;
        text-align: center;
        color: white;
        padding: 10px;
        display: none;
    }

    /* NAVIGATION BAR */   

    .navbar_wrapper
    {
        position: absolute;
        top: 0;
        background-color: var(--black);
        padding: 2px 0;
        background-color: var(--black);
        width: 100%;
        height: 40px;
        text-align: left;
        border: none
    }
    .navbartoggled
    {
        height: 320px !important;
    }

    #navtoggler
    {
        margin-left: 10px;
        display: inline-block;
        width: 40px;
        height: 50px;
    }
    .toggler
    {
        margin-top: 8px;
        width: 100%;
        background-color: white;
        height: 3px;
    }

    .flave_navbar
    {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        visibility: hidden;
    }
    .flave_navbar_show
    {
        visibility: visible;
    }
    .flave_navlist
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .flave_navitem
    {
        color: var(--white);
        font-size: 12pt;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }

    .flave_navsearch
    {
        margin-left: 0px;
        justify-content: flex-start;
    }



    /* MAIN CONTENT */
    .maincontent_wrapper
    {
        margin: 0;
        padding: 0;
        border-radius: 2px;
        margin-bottom: 100px;
    }

    /* ----- Item Specific styling ----- */

    /* DESCRIPTION */
    .content_description_wrapper
    {
        margin-top: 0px;
        padding: 0 10px;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 2px;
    }
    .content_description_image
    {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100% !important;
        text-align: center;
    }
    #company_image
    {
        width: 100%;
        height: auto;
    }
    .content_description
    {
        flex: 2;
        text-align: justify;
        padding: 10px;
    }

    /* HISTORY */
    .content_history_wrapper
    {
        margin: 0px;
        padding: 10px;
        background-color: var(--white);
        border-radius: 5px;
    }
    #history_title
    {
        text-align: center !important;
    }
    .content_history
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
    }
    .content_history1, .content_history2, .content_history3
    {
        flex: 1;
        padding: 20px;
        border-radius: 2px;
        box-shadow: 0 0 5px var(--shade);
        text-align: justify;
        margin: 0 10px;
    }



    /* PRODUCTS */

    .content_products_wrapper
    {
        margin: 0px 0;
        padding: 10px;
        background-color: var(--white) !important;
        border-radius: 5px;
    }
    .product_container
    {
        min-height: 550px;
        background-color: var(--glish) !important;
        padding: 10px;
    }
    .product_img{
        margin-left: calc(50% - 150px);
        width: 300px !important;
        height: auto;
    }
    .product_description
    {
        color: white;
        text-align: center;
        padding: 10px !important;
        text-align: justify;
    }


    /* CLIENTS */
    .content_clients_wrapper
    {
        margin: 40px 0;
        padding: 20px;
        /* background-color: var(--bg) !important; */
        border-radius: 5px;   
    }
    .content_clients
    {
        background-color: var(--bg);
    }
    .client_card
    {
        float: left;
        margin: 10px;
        border: 2px solid var(--white);
        border-radius: 5px;
        width: 70px;
        height: 50px;
        color: white;
        text-align: center;
    }
    .client_card > img
    {
        border-radius: 5px;
    }

    /* CONTACT US FORM */
    .contactusform
    {
        clear: both;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-shadow: 0px 0px 30px 30px var(--white);
        border-radius: 10px;
    }
    .form_section
    {
        flex: 1 !important;
        padding: 0 30px;
    }
    .form_group
    {
        margin-bottom: 30px;
    }
    #comment
    {
        width: 100%;
        height: 100px;
        padding: 10px;
        border-radius: 10px;
        resize: none;
        outline: none;
        border: 1px solid var(--mainbg);
    }
    #form_button_pc
    {
        display: none !important;   
    }
    #form_button_phone
    {
        display: block;
        margin-top: 20px;
        text-align: center;
    }


    /* FOOTER */
    .footer
    {
        background-color: var(--mainbg) !important;
    }
    .footer_wrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer_section
    {
        flex: 1;
        color:var(--white);
        margin: 20px;
        text-align: center;
    }
    .footer_link
    {
        display: block;
        padding: 10px;
        color: white;
    }
    .social_link
    {
        display: inline-block;
        margin: 0px 10px !important;
        padding: 8px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    #location_map
    {
        display: flex;
        margin-left: 10%;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        width: 80%;
        height: 100%;
    }
    .copyright_content
    {
        margin: 0px;
        position: relative;
        bottom: 0px;
        padding: 5px 0;
        font-size: 14pt;
        color: white !important;
        background-color: var(--black);
        text-align: center;
    }
}